body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    justify-content: center;
    background: rgba(0, 0, 0, 0.897);
}

.text {
    color: white;
    text-align: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
}

.calculator-button {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-family: Montserrat;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

button:active {
    color: #000
}

button:active:after {
    background: transparent;
}

button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#calculator {
    padding: 20px;
    border: none;
    width: 26%;
    margin: auto;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

#calculator:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

#calculator:active {
    color: #ffffff
}

#calculator:before {
    opacity: 1;
}

#calculator:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media(max-width:440px) {
    .calculator-button {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;
    }

    #calculator {
        width: 70%;
    }

    .text {
        font-size: 14px;
    }
}